body{
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/8f12b4f0-a894-4d5b-9c36-5ba391c63fbe/44355e66-dbf8-4dd8-ba6b-8e9e32ec6abd/IN-en-20230320-popsignuptwoweeks-perspective_alpha_website_large.jpg");
     
     margin: 0;
}
.blur{
    background: rgba(0,0,0,0.7);
    height: 100vh;
}
.head{
    display: flex;
    justify-content: space-around;
    align-items: center ;
    /* border: 2px solid green; */
    margin-bottom: 210px;
}
.logo{
    display: flex;
   padding-right: 350px;
   margin-top: 20px;
   margin-left: 168px;
   /* border: 2px solid black; */
}
.button{
    display: flex;
    padding-left: 400px;
    /* border: 2px solid red; */
    text-align: right;
}
.button button{
    color: white;
    background-color: red;
    border: none;
    padding: 8px 14px;
    font-size: 15px;
    border-radius: 5px;
    font-weight: bold;
}
.content{
    text-align: center;
}
h1{
    color: white;
    font-size: 55px;
    margin-bottom: -10px;
}
#ab{
    color: white;
    font-size: 30px;
}
#bc{
    color: white;
    font-size: 23px;
}