*{
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
.one{
    text-align: center;
    /* padding-top: 1.5vh;
    height: 6.5vh; */
    background: linear-gradient(to right, #000000, #e74c3c);
    color: whitesmoke;
    /* border: 1px solid black; */
    padding-block: 10px;
    font-weight: 700;
}
.two{
    /* height: 8.5vh; */
    color: white;
    background-color: black;
    width: 100%;
    top: 0;
    position: sticky;
    text-align: center;
    /* padding: 14px 0 0 230px; */
    padding-block: 15px;
    /* padding-inline-start: 20px; */
}
.two span{
    display: inline-flex;
    /* margin: 0 15px; */
    padding-inline: 10px;
    position: sticky;
}
#ab{
    width: 390px;
}
#ab:focus{
    outline: none;
} 
.shoe{
    width: 100%;
    background-image: url("https://static01.nyt.com/images/2021/03/30/multimedia/28xp-shoes-09/28xp-shoes-09-superJumbo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* height: 300px;
    max-height: 600px; */
    padding-inline: 70px;
    padding-block: 70px;
    color: white;
    font-size: larger;
}
.detail{
    /* border: 1px solid black; */
    padding-block: 2%; 
    padding-inline: 2% ;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.5);
    /* height: 100%; */
}
.content :first-child{
    font-weight: 900;
    font-size: 30px;
    padding: 0 60px 0 0;
}

.trend .jordan{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.4);
    border-top: 2px solid rgb(214, 204, 204);
    border-right: 2px solid rgb(214, 204, 204);
}
.jordan img{
    width: 100px;
    height: 110px;
}
.trend{
    /* border: 1px solid black; */
    padding-inline: 2%;
    padding-block: 1%;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    width: 100%;
}
.trend:first-child{
    color: rgba(0, 0, 0, 0.7);
}
.trend p{
    color: white;
    margin-bottom: 2px;
}
.middle{
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
}
.foot .art{
    margin: auto;
    border: 1px solid black;
}
.foot{
    display: inline-block;
    padding: 5%;
    background: linear-gradient(to left, #000000, #434343);
}
.ish{
    padding: 3% 60% 9% 3%;
    color: white;
    text-align: left;
    font-weight: 700;
}
.ish > p{
    margin: 25px;
}
.ish > h1{
    margin-left: 25px;
}
.art{
    position: relative;
    display: flex;
    background: linear-gradient(to right, #000000, #e74c3c);
    color: whitesmoke;
}
.logo > img{
    width: 250px;
    border-radius: 50%;
    position: absolute;
    right: 10%;
    top: 20%;
    box-shadow: 9px 9px 9px 9px rgba(255,255,255,0.399);
    height: 250px;
}
.logo > img:hover{
    right: 19%;
    top: 29%;
    width: 40%;
}

